<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<section id="header">
    <a href="#"><img src="/images/slika1.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a th:href="@{/index}">Home</a></li>
            <li><a class="active" href="#">Login</a></li>
            <li><a href="#">Bag</a></li>
        </ul>
    </div>
</section>

<section id="form">
    <div class="all">
        <div class="login">
            <h1>Login</h1>
            <form th:action="@{/login}" th:method="post">
                <div th:if="${notInBase}">
                    <p>This user does not exist</p>
                </div>
                <div th:if="${notEnabled}">
                    <p>Please activate your email</p>
                </div>
                <input type="text" placeholder="Email..." id="email" name="email" required>
                <br>

                <input type="password" placeholder="Password..." id="password" name="password" required>
                <br>

                <button type="submit">Login</button>
            </form>
        </div>

        <div class="register">
            <a th:href="@{/registration}">
                <button type="submit">Create an account!</button>
            </a>
        </div>
    </div>


</section>
</body>
</html>