body {
    margin: 0;
}
nav {
    background-color: #4c4ca4;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 60px;
}

.left-icons {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.left-icons img {
    margin-right: 150px;
    height: 30px;
    width: auto;
    border-radius: 20%;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links a {
    margin-right: 10px;
    text-decoration: none;
    color: grey;
}

.header-links .container1:hover a {
    color: black;
    font-weight: bold;
    transform: scale(1);
    transition: 400ms;
}

.header-links .container1:not(:hover) a {
    transition: 400ms;
}

.form {
    margin-left: 220px;
}

.form input, .form textarea {
    margin-bottom: 20px;
}

.form input:not(.header .image input), .form textarea {
    border-radius: 25px;
}


.header input:not(.image input) {
    padding: 10px 100px 10px 25px;
    width: 450px;
}

input:not(.header input) {
    padding: 10px 100px 10px 25px;
    width: 700px;
}

.form textarea {
    padding: 10px 100px 10px 25px;
    width: 800px;
}

.header {
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}

.image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.image img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.image input[type="text"],
.image textarea {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}



.form button {
    padding: 7px 50px 7px 50px;
    color: #4c4ca4;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 800px;
}


.form .buttons #container1:hover button {
    transform: scale(1.2);
    background-color: #6565b0;
    color: white;
    transition: 400ms;
}

.form .buttons #container1:not(:hover) button {
    transition: 400ms;
}

.form .para p {
    font-size: 20px;
    color: #6565b0;
}

.paragraph p {
    font-size: 40px;
    margin-left: 200px;
    color: #6565b0;
}

.selection {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
}

.otherSelection {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}